<nav class="navbar">
  <div class="nav-container">
    <div class="nav-logo">
      <a href="/">Rick & Morty</a>
    </div>
    <ul class="nav-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/search-name">Search by Name</a></li>
      <li><a href="/search-species">Search by Species</a></li>
      <li><a href="/random">Random Character</a></li>
      <li><a href="/locations">Locations</a></li>
    </ul>
  </div>
</nav>
